* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #bbb;
}
main {
    height: 100vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: serif;
    font-size: 120px;
    font-weight: 300;
    line-height: 1;
    color: #4a7db9;
}
h2 {
    font-weight: 500;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
