* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #bbb;
}
main {
    height: 85vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: serif;
    font-size: 120px;
    font-weight: 300;
    color: #4a7db9;
}
h2 {
    font-weight: 500;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    font-size: 14px;
    margin-bottom: 10px;
}
input {
    border-radius: 4px;
    border: solid 1px #ddd;
    margin-right: 15px;
    padding: 5px;
    color: #999;
}
::placeholder {
  color: #bbb;
  opacity: 1;
}
:-ms-input-placeholder { color: #bbb; }
::-ms-input-placeholder { color: #bbb; }
button {
    border-radius: 4px;
    border: none;
    background: #7db600;
    color: white;
    padding: 6px 10px;
    outline: 0;
}
