* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #bbb;
}
main {
    height: 100vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: serif;
    font-size: 120px;
    font-weight: 300;
    line-height: 1;
    color: #4a7db9;
}
h2 {
    font-weight: 500;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.groupme-button {
    background: #00aff0;
    color: white;
    margin-top: 20px;
    margin-bottom: 8px;
    padding: 7px 16px 5px;
    border-radius: 50px;
    font-size: 14px;
}
.groupme-button:hover {
    background: #008cc0;
    text-decoration: none;
}
.groupme-button img {
    height: 15px;
    vertical-align: center;
    margin-bottom: -3px;
}
