doctype html
html
    head
        title Is It Chicken Tenders Day?
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/main.css')
    body
        main
            if isItChickenTendersDay
                h1 Yes
                h2 Get your tenders on.
            else
                h1 No
                h2 But you still have&nbsp;
                    a(href='https://yalemenus.com') options.
        footer
            p Never miss tenders again - we'll text you!
            div.row
                form(action='/', method='POST')
                    input(name='phone', type='phone', placeholder='(203) 555-5555')
                    button(type='submit') OK
