doctype html
html
    head
        title Is It Chicken Tenders Day?
        link(rel="stylesheet", href="/css/main.css")
    body
        main
            h1 #{isItChickenTendersDay}
        footer
            p Never miss tenders again - we'll text you!
            div.row
                input(type="phone", placeholder="(203) 123-5555")
                button#submit OK
